@import '@servicenow/sass-kit/host';

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5px;
  column-gap: 5px;
  max-width: 980px;
  padding-top: 5px;
  margin: 0 auto;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
